@font-face{
    font-family: 'Voltaire', sans-serif;
    font-family: 'Economica', sans-serif;
}
*{
    box-sizing: border-box;
}
.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    overflow-y: hidden;
}
#room {
    max-width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#whitenav1 {
    background-color: rgba(245, 245, 245, 0);
    position: fixed;
    height: 62px;
    width: 100%;
}
#lukew {
    font-family: Voltaire;
    font-size: 33px;
    text-align: left;
    color: #C0C0C0;
    display: inline-block;
    padding-left: 5%;
    margin-top: .6%;
    margin-bottom: .5%;
}
#lukew:hover {
    text-decoration: none;
    cursor: default;
}
#suc {
    font-family: Voltaire;
    font-size: 15px;
    float: right;
    color: #FF4200;
    padding: 10px;
    margin-top: .8%;
    margin-bottom: .5%;
    padding-right: 5%;
}
#suc:hover {
    cursor: default;
    text-decoration: none;
}
#back {
    transform-style: preserve-3d;
    transform: perspective(1000px);
    position: absolute;
    /*
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 50vw;
    */
}
#backimg {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
#middle {
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(250px) translateY(-50%) translateX(-50%);
    /*
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 50vw;
    */
}
#middleimg {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
#front {
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(250px) translateY(-50%) translateX(-50%);
    /*
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 50vw;
    */
}
#frontimg {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
footer {
    bottom: 0;
    width: 100%;
    position: absolute;
}
#cbs {
    font-family: Voltaire;
    font-size: 15px;
    float: left;
    color: gray;
    padding: 10px;
    padding-left: 5%;
}
#cbs:hover {
    cursor: default;
    text-decoration: none;
}
#date {
    font-family: Voltaire;
    font-size: 15px;
    float: right;
    color: gray;
    padding: 10px;
    padding-right: 5%;
}
#date:hover {
    cursor: default;
    text-decoration: none;
}